#content{
	display:flex;
	justify-content:center;
	flex-direction:row;
	height:78vh;
}

#button_box{
	display:flex;
	flex-direction:column;
	border-style:solid;
	margin-right:10px;
	flex-grow:1;
	flex-basis:0;
}
.button{
	flex-grow:1;
}

#user_box{
	border-style:solid;
	margin-left:10px;
	flex-grow:1;
}
#display_users{
	overflow:scroll;
}
#search_users{
	position:absolute;
	border-style:solid;
	border-bottom:0px;
	border-right:0px;
	border-left:0px;
	height:20%;
	width:48.5%;
	bottom:0;
}