#button_box{
	display:flex;
	flex-direction:column;
	border-style:solid;
	margin-right:10px;
	flex-grow:1;
	flex-basis:0;
}
.button{
	flex-grow:1;
}

#user_box{
	border-style:solid;
	margin-left:10px;
	flex-grow:1;
}
#display_users{
	overflow:scroll;
}
#search_users{
	border-style:solid;
	border-bottom:0px;
	border-right:0px;
	border-left:0px;
}