.comicBox{
	position:absolute;
	height: 80%;
	width: 45%;
}
 
.comic{
	height:100%;
	width:52.5%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.comic img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	max-height:100%;
	max-width:100%;
	border-style:solid;
}
.comic h2{
	border-style:solid;
	border-top:0px;
	margin-top:0px;
	width:100%;
}

.login{
	height:20%;
	width:45%;
	border-style: solid;
	position:absolute;
	text-align:center;
	right:0.5%;
	margin-bottom:5px;
}
.about{
	position:absolute;
	width:45%;
	height:50%;
	border-style: solid;
	text-align:center;
	right:0.5%;
	top:40%;
}

#login{
	width:100%;
	height:50%;
}
#createAccount{
	width:100%;
	height:50%;
}