.comicBox{
	flex-grow:1;
}
 
.comic{
	height:100%;
	width:52.5%;
	margin-left:20%;
	text-align:center;
}
.comic img{
	display:block;
	max-height:100%;
	max-width:100%;
	border-style:solid;
}
.comic h2{
	border-style:solid;
	border-top:0px;
	margin-top:0px;
	width:100%;
}

.login_box{
	border-style:solid;
	text-align:center;
	flex-grow:1;
	margin-bottom:10px;
}

#about{
	border-style:solid;
	text-align:center;
	flex-grow:2;
}

#right{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	flex-grow:2;
}

#login{
	width:100%;
	height:50%;
}
#createAccount{
	width:100%;
	height:50%;
}