.login_box{
	border-style:solid;
	text-align:center;
	flex-grow:1;
	display:flex;
	flex-direction:column;
	margin-bottom:10px;
}

#about{
	border-style:solid;
	text-align:center;
	flex-grow:2;
}

#right{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	flex-grow:1;
}

#login{
	flex-grow:1;
}
#createAccount{
	flex-grow:1;
}

.comicBox{
	display:flex;
	flex-grow:1;
	justify-content:center;
	align-items:center;
}
.comic{
	width:40%;
	border-style:solid;
}
.comic img{
	display:block;
	width:100%;
}

.comic h2{
	border-style:solid;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
	margin-top:0px;
	text-align:center;
}