.title{
	text-align:center;
	border-style: solid;
	margin-bottom:5px;
}
.comic{
	position:absolute;
	border-style: solid;
	height: 78%;
	width: 45%;
	margin-right:10px;
 }
.login{
	width: 45%;
	border-style: solid;
	position:absolute;
	text-align:center;
	right:0.5%;
	height:20%;
	margin-bottom:5px;
}
.about{
	width: 45%;
	border-style: solid;
	text-align:center;
	right:0.5%;
	height:50%;
	bottom:9%;
	position:absolute;
}
.information{
	position:absolute;
	bottom:0;
	text-align:center;
	border-style: solid;
	width: 98.5%;
}

#login{
	width:100%;
	height:50%;
}
#createAccount{
	width:100%;
	height:50%;
}