#login_form{
	display:flex;
	justify-content:center;
	align-items:center;
}

#login_box{
	border-style:solid;
	display:grid;
	font-size:large;
}

#context{
	
}

#content{
	display:flex;
	flex-direction:column;
	justify-content:center;
	flex-grow:100;
	margin-bottom:10px;
}
