#login_form{
	display:flex;
	justify-content:center;
	align-items:center;
}

#login_box{
	border-style:solid;
	display:grid;
	font-size:large;
}

#context{
	border-style:solid;
	display:grid;
	justify-content: center;
	align-items: center;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
}

.content{
	flex-direction:column;
	justify-content:center;
}
