.button{
	border-style:solid;
}

.search_bar{
	display:flex;
}

.content{
	flex-wrap:wrap;
	overflow-y:scroll;
	justify-content:flex-start;
}

.comicBox{
	display:flex;
	flex:1 0 20%;
	align-items:center;
	max-width:20%;
	text-decoration:none;
	color:black;
	margin-bottom:5px;
}
.comic{
	width:50%;
	border-style:solid;
	cursor:pointer;
}
.comic img{
	display:block;
	width:100%;
}

.comic p{
	border-style:solid;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
	margin-top:0px;
}

.comicButton{
	background:none;
	border:none;
	display:flex;
	color:black;
	text-decoration:none;
	justify-content:center;
}