#weekly_buttons{
	position:absolute;
	right:0px;
}
.button{
	border-style:solid;
}

.search_bar{
	display:flex;
}

.content{
	flex-wrap:wrap;
	overflow-y:scroll;
}

.comicBox{
	display:flex;
	flex:1 0 20%;
	justify-content:center;
	align-items:center;
	max-width:20%;
}
.comic{
	width:50%;
}
.comic img{
	display:block;
	width:100%;
}

.comic p{
	border-style:solid;
	border-top:0px;
	margin-top:0px;
}