#weekly_buttons{
	position:absolute;
	right:0px;
}
.button{
	border-style:solid;
}

.search_bar{
	display:flex;
}

.content{
	flex-wrap:wrap;
	overflow-y:scroll;
}

.comicBox{
	display:flex;
	flex:1 0 20%;
	justify-content:center;
	align-items:center;
	max-width:20%;
	text-decoration:none;
	color:black;
}
.linkBox{
	color:black;
	text-decoration:none;
}
.comic{
	width:50%;
	border-style:solid;
}
.comic img{
	display:block;
	width:100%;
}

.comic p{
	border-style:solid;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
	margin-top:0px;
}

.content{
	justify-content:flex-start;
}