#left{
	margin-right:15px;
	flex-grow:1;
	display:flex;
	flex-direction:column;
	max-width:50%;
}
#right{
	margin-left:15px;
	flex-grow:1;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

.comicBox{
	display:flex;
	flex-grow:1;
	justify-content:center;
	align-items:center;
	text-align:center;
}
.comic{
	width:40%;
	border-style:solid;
}
.comic img{
	display:block;
	width:100%;
	flex-grow:2;
}
.comic button{
	width:100%;
}

#add{
	text-align:center;
}

#left span{
	border-style:solid;
	max-height:20%;
	overflow-y:scroll;
}

#reviews{
	border-style:solid;
	flex-grow:6;
	overflow-y:scroll;
	max-height:75%;
}

#reviews h2{
	border-bottom:solid;
	margin:0px;
	padding-left:2px;
}

.review{
	border-bottom:solid;
	padding-bottom:2px;
	padding-left:2px;
}

#review_write{
	margin-top:5px;
	border-style:solid;
	flex-grow:2;
	display:flex;
	flex-direction:column;
	overflow-y:scroll;
}

#userReview{
	flex-grow:10;
}
#submission{
	display:flex;
}
.submit_button{
	flex-grow:1;
	margin-right:10%;
}