.title{
	display:flex;
	justify-content:center;
	border-style: solid;
	margin-bottom:5px;
	flex-grow:1;
}

.information{
	display:flex;
	justify-content:center;
	text-align:center;
	border-style:solid;
	flex-grow:1;
}

.overall{
	display:flex;
	justify-content:space-between;
	flex-direction:column;
	height:98vh;
}

.content{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	flex-grow:100;
	margin-bottom:10px;
}

.comicBox{
	flex-grow:1;
}
 
.comic{
	height:100%;
	width:52.5%;
	margin-left:20%;
	text-align:center;
}
.comic img{
	display:block;
	max-height:100%;
	max-width:100%;
	border-style:solid;
}
.comic h2{
	border-style:solid;
	border-top:0px;
	margin-top:0px;
	width:100%;
}