.title{
	display:flex;
	justify-content:center;
	text-align:center;
	border-style: solid;
	flex-grow:1;
}

.title h1{
	margin-left:auto;
	margin-right:auto;
}

/* Show the dropdown content on hover */
.toolbar:hover .toolbarContent {
  display: block;
}

.toolbar{
	margin-left:auto;
	width:10%;
	position:inline-block;
	height:100%;
}
.toolbar img{
	width:20%;
	margin-right:5px;
}

.toolbarButton{
	width:100%;
	height:100%;
}

.toolbarOption:hover{
	background-color:#dedede;
}

/* Dropdown content */
.toolbarContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align:left;
}

/* Links inside dropdown content */
.toolbarContent a {
  color: black;
  display: block;
}

.information{
	display:flex;
	justify-content:center;
	text-align:center;
	border-style:solid;
	flex-grow:1;
}

.overall{
	display:flex;
	justify-content:space-between;
	flex-direction:column;
	height:98vh;
}

.content{
	margin-top:5px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	flex-grow:100;
	margin-bottom:5px;
	max-height:80%;
}

.search_bar{
	border-style:solid;
	width:50%;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	padding-top:5px;
	padding-bottom:5px;
	position:relative;
}