.title{
	display:flex;
	justify-content:center;
	border-style: solid;
	margin-bottom:5px;
	flex-grow:1;
}

.information{
	display:flex;
	justify-content:center;
	text-align:center;
	border-style:solid;
	flex-grow:1;
}

.overall{
	display:flex;
	justify-content:space-between;
	flex-direction:column;
	height:98vh;
}

.content{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	flex-grow:100;
	margin-bottom:10px;
}