.title{
	display:flex;
	justify-content:center;
	border-style: solid;
	flex-grow:1;
}

.information{
	display:flex;
	justify-content:center;
	text-align:center;
	border-style:solid;
	flex-grow:1;
}

.overall{
	display:flex;
	justify-content:space-between;
	flex-direction:column;
	height:98vh;
}

.content{
	margin-top:5px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	flex-grow:100;
	margin-bottom:5px;
}

.search_bar{
	border-style:solid;
	text-align:center;
	width:50%;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	padding-top:5px;
	padding-bottom:5px;
	position:relative;
}