.title{
	display:flex;
	justify-content:center;
	border-style: solid;
	margin-bottom:5px;
}

.information{
	position:absolute;
	top:93%;
	text-align:center;
	border-style: solid;
	width: 98.5%;
}
.title{
	text-align:center;
	border-style: solid;
	margin-bottom:5px;
}