<!DOCTYPE HTML>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/collection.css') }}">
	<script src="{{url_for('static', filename='scripts/collection.js')}}"></script>
</head>
<body onload="previewComic('{{collection[0]['image']['small_url']}}')">
<div class="overall">
	<div class="title">
		<h1> Your Collection </h1>
	</div>
	<div class="content">
		<div id="left">
			{% for comic in collection %}
				<div class="display_comics">
					{% set name = comic['volume']['name'] %}
					{% if comic['issue_number'] is not none %}
						{% set name = name ~ " #" ~ comic['issue_number'] %}
					{% endif %}
					{% if comic['name'] != "None" %}
						{% set name = name ~ " - " ~ comic['name'] %}
					{% endif %}
					<button onclick="previewComic('{{comic['image']['small_url']}}')" class="btn">
						<p>{{name}}</p>
					</button>
				</div>
			{% endfor %}
		</div>
		<div id="right">
			<div id="sort_filter">
				<button class="btn">Sort and Filter</button>
			</div>
			<a id="comicPreview" href="">
				<img id="preview" src="">
			</a>
			<div id="remove">
				<button class="btn">Remove Highlighted Comic</button>
			</div>
		</div>
	</div>
	<div class="information">
		<p>Example text</p>
	</div>
</div>