<!DOCTYPE HTML>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/collection.css') }}">
	<script src="{{url_for('static', filename='js/collection.js')}}"></script>
</head>
{% if collection|length %}
	<body onload='previewComic("{{collection[0]['image']['small_url']}}")'>
{% endif %}
<div class="overall">
	<div class="title">
		<h1> Your Collection </h1>
		<div class="toolbar">
			<button class="toolbarButton">
				<img src = {{url_for ('static' , filename = 'img/Hamburger.png')}}>
			</button>
			<div class="toolbarContent">
				<a onclick="window.location.href='{{url_for('search')}}'" class="toolbarOption">
					<img src = {{url_for ('static' , filename = 'img/Search.png')}}>
					Search
				</a>
				<a onclick="window.location.href='{{url_for('weekly')}}'" class="toolbarOption">
					<img src = {{url_for ('static' , filename = 'img/Calendar.png')}}>
					Weekly
				</a>
				<a onclick="window.location.href='{{url_for('homepage')}}'" class="toolbarOption">
					<img src = {{url_for ('static' , filename = 'img/Home.png')}}>
					Homepage
				</a>
				<a onclick="window.location.href='{{url_for('settings')}}'" class="toolbarOption">
					<img src = {{url_for ('static' , filename = 'img/Settings.png')}}>
					Settings
				</a>
				<a onclick="window.location.href='{{url_for('logout')}}'" class="toolbarOption">
					<img src = {{url_for ('static' , filename = 'img/Logout.png')}}>
					Logout
				</a>
			</div>
		</div>
	</div>
	<div class="content">
		<div id="left">
			{% for comic in collection %}
				<div class="display_comics">
					{% set name = comic['volume']['name'] %}
					{% if comic['issue_number'] is not none %}
						{% set name = name ~ " #" ~ comic['issue_number'] %}
					{% endif %}
					{% if comic['name'] != "None" %}
						{% set name = name ~ " - " ~ comic['name'] %}
					{% endif %}
					<button onclick="previewComic('{{comic['image']['small_url']}}')" class="previewButton">
						<p>{{name}}</p>
					</button>
					<form class="view" action="" method="POST">
						<input type = "hidden" name = "comicId" value = "{{comic['id']}}"/>
						<button type="submit" class="formButton">Remove</button>
					</form>
					<form class="view" action="{{url_for('specific_book')}}" method="POST">
						<input type = "hidden" name = "comic" value = "{{comic}}"/>
						<button type="submit" class="formButton">View</button>
					</form>
				</div>
			{% endfor %}
		</div>
		<div id="right">
			<div id="sort_filter">
				<div class="dropdown">
					<button class="dropbtn">Sort by:</button>
					<form action="" method="POST">
						<div class="dropdown-content">
							<button type="submit" class="sort" value="No Sort" name="SortBy">No Sort</button>
							<button type="submit" class="sort" value="Volume Name" name="SortBy">Volume Name</button>
							<button type="submit" class="sort" value="Store Date" name="SortBy">Store Date</button>
						</div>
					</form>
				</div>
			</div>
			<img id="preview" src="">
		</div>
	</div>
	<div class="information">
		<p>Credit to ComicVine API for all API calls and Charlotte Morris for all toolbar icons</p>
	</div>
</div>
