<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
	</head>
	<div class="overall">
		<div class="title">
			<h1> Create an account </h1>
		</div>
		<div class="content">
			<form id="login_form" action="" method="POST">
				<div id="login_box">
					<label for="email"><b>Email</b></label>
					<input type="email" placeholder="Enter Email" name="email" required>
					<label for="username"><b>Username</b></label>
					<input type="text" placeholder="Enter Username" name="username" required>
					<label for="password"><b>Password</b></label>
					<input type="password" placeholder="Enter Password" name="password" required>
					<label for="repeat-password"><b>Repeat Password</b></label>
					<input type="password" placeholder="Repeat Password" name="repeat-password" required>

					<button type="submit" class="btn" name="button" value="create_account">
						Create Account
					</button>
				</div>
			</form>
			<div id="context">
				By signing up to an account you agree to the processing of your data for the purposes of:<br>
					- Creating an account<br>
					- Creating and storing your collection
				{% if message|length > 0 %}
					<br>Error:
					<br>- {{message}}
				{% endif %}
			</div>
		</div>
		<div class="information">
			<p>Credit to ComicVine API for all API calls and Charlotte Morris for all toolbar icons</p>
		</div>
	</div>
</html>