<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
	</head>
	<div class="overall">
		<div class="title">
			<h1> Create an account </h1>
		</div>
		<div id="content">
			<form id="login_form">
				<div id="login_box">
					<label for="uname"><b>Username</b></label>
					<input type="text" placeholder="Enter Username" name="uname" required>
					<label for="psw"><b>Password</b></label>
					<input type="password" placeholder="Enter Password" name="psw" required>
					<label for="repeat-psw"><b>Password</b></label>
					<input type="password" placeholder="Repeat Password" name="repeat-psw" required>

					<button type="submit" onclick="window.location.href='{{url_for('homepage')}}'">Create Account</button>
				</div>
				<div id="context">
					
				</div>
			</form>
		</div>
		<div class="information">
			<p>Example text</p>
		</div>
	</div>
</html>