<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
	</head>
	<div class="title">
		<h1> Homepage </h1>
	</div>
	<div id = "content">
		<div id = "button_box">
			<button class="button">Collection</button>
			<button class="button">Search</button>
			<button class="button">Weekly Comics</button>
		</div>
		<div id = "user_box">
			<div id = "display_users">
				
			</div>
			<div id = "search_users">
				
			</div>
		</div>
	</div>
	<div class="information">
		<p>Example text</p>
	</div>
</html>