<!DOCTYPE HTMl>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
	</head>
	
	<div class="overall">
		<div class="title">
			<h1> Curate a Collection </h1>
		</div>
		<div class="content">
			<div class="comicBox">
				<div class="comic">
					<img src={{comic[0]}}>
					<h2>{{comic[1]}}</h2>
				</div>
			</div>
			<div id="right">
				<div class="login_box">
					<button type="button" id="login" onclick="window.location.href='{{url_for('login')}}'">Login</button>
					<button type="button" id="createAccount" onclick="window.location.href='{{url_for('create_account')}}'">Create an account</button>
				</div>
				<div id="about">
					In this site you can curate your collection, read the reviews of fellow comic book fans, and search through decades of comic book history.
				</div>
			</div>
		</div>
		<div class="information">
			<p>Credit to <a href = "https://comicvine.gamespot.com/api/">ComicVine API</a> for all API calls and Charlotte Morris for all toolbar icons</p>
		</div>
	</div>
</html>