<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
	</head>
	<div class="overall">
		<div class="title">
			<h1> Login </h1>
		</div>
		<div class="content">
			<form id="login_form" action="" method="POST">
				<div id="login_box">
					<label for="email"><b>Email</b></label>
					<input type="email" placeholder="Email" name="email">
					<label for="password"><b>Password</b></label>
					<input type="password" placeholder="Password" name="password">
					<button type="submit" class="btn" name="button" value="login">
						Sign in
					</button>
				</div>
			</form>
			<div id="context">
			{% if error == True %}
				Username or password was incorrect.
			{% endif %}
			</div>
		</div>
		<div class="information">
			<p>Credit to ComicVine API for all API calls and Charlotte Morris for all toolbar icons</p>
		</div>
	</div>
</html>