<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/specific-book.css') }}">
</head>
<div class="overall">
	<div class="title">
		{% set name = comic['volume']['name'] %}
		{% if comic['issue_number'] is not none %}
			{% set name = name ~ " #" ~ comic['issue_number'] %}
		{% endif %}
		{% if comic['name'] is not none %}
			{% set name = name ~ " - " ~ comic['name'] %}
		{% endif %}
		<h1>{{name}}</h1>
	</div>
	<div class="content">
		<div id="left">
			<div class="comicBox">
				<div class="comic">
					<img src={{comic['image']['small_url']}}>
				</div>
			</div>
			<div id="additional_information">
				
			</div>
		</div>
		<div id="right">
			<div id="reviews">
				
			</div>
			<div id="user_review">
				
			</div>
			<div id="review_write">
				
			</div>
		</div>
	</div>
	<div class="information">
		<p>Example text</p>
	</div>
</div>