<!DOCTYPE HTMl>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/searching.css') }}">
</head>
<div class="overall">
	<div class="title">
		<h1> Weekly Comics </h1>
	</div>
	<div class="search_bar">
		<span>Week: </span>
		<span id="weekly_buttons">
			<button type="button" class="button">Next</button>
			<button type="button" class="button">Prev</button>
			<button type="button" class="button">Calendar</button>
		</span>
	</div>
	<div class="content" id="content">
		{% for comic in comics %}
			<div class="comicBox" id="comicBox">
				<div class="comic">
					<img id="image" src={{comic['image']['small_url']}}>
					<p id="text">{{comic['volume']['name']}}</p>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="information">
		<p>Example text</p>
	</div>
</div>