<!DOCTYPE HTMl>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/searching.css') }}">
</head>
<div class="overall">
	<div class="title">
		<h1> Weekly Comics </h1>
	</div>
	<div class="search_bar">
		<span>Week: {{dates[0]}} to {{dates[1]}}</span>
		<span id="weekly_buttons">
			<button type="button" class="button">Next</button>
			<button type="button" class="button">Prev</button>
			<button type="button" class="button">Calendar</button>
		</span>
	</div>
	<div class="content" id="content">
		{% for comic in comics %}
			<div class="comicBox">
				<a class = "linkBox" href= {{url_for('specific_book')}}>
					<div class="comic">
						<img src={{comic['image']['small_url']}}>
						{% set name = comic['volume']['name'] %}
						{% if comic['issue_number'] is not none %}
							{% set name = name ~ " #" ~ comic['issue_number'] %}
						{% endif %}
						{% if comic['name'] is not none %}
							{% set name = name ~ " - " ~ comic['name'] %}
						{% endif %}
						<p>{{name}}</p>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
	<div class="information">
		<p>Example text</p>
	</div>
</div>