<!DOCTYPE HTMl>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/searching.css') }}">
</head>
<div class="overall">
	<div class="title">
		<h1> Weekly Comics </h1>
	</div>
	<div class="search_bar">
		<span>Week: </span>
		<span id="weekly_buttons">
			<button type="button" class="button">Next</button>
			<button type="button" class="button">Prev</button>
			<button type="button" class="button">Calendar</button>
		</span>
	</div>
	<div class="content">
		<div class="comicBox">
			<div class="comic">
				<img src={{comic[0]['image']['small_url']}}>
				<p>{{comic[0]['volume']['name']}}</p>
			</div>
		</div>
		<div class="comicBox">
			<div class="comic">
				<img src={{comic[1]['image']['small_url']}}>
				<p>{{comic[1]['volume']['name']}}</p>
			</div>
		</div>
		<div class="comicBox">
			<div class="comic">
				<img src={{comic[2]['image']['small_url']}}>
				<p>{{comic[2]['volume']['name']}}</p>
			</div>
		</div>
		<div class="comicBox">
			<div class="comic">
				<img src={{comic[3]['image']['small_url']}}>
				<p>{{comic[3]['volume']['name']}}</p>
			</div>
		</div>
		<div class="comicBox">
			<div class="comic">
				<img src={{comic[4]['image']['small_url']}}>
				<p>{{comic[4]['volume']['name']}}</p>
			</div>
		</div>
		<div class="comicBox">
			<div class="comic">
				<img src={{comic[5]['image']['small_url']}}>
				<p>{{comic[5]['volume']['name']}}</p>
			</div>
		</div>
		<div class="comicBox">
			<div class="comic">
				<img src={{comic[6]['image']['small_url']}}>
				<p>{{comic[6]['volume']['name']}}</p>
			</div>
		</div>
		<div class="comicBox">
			<div class="comic">
				<img src={{comic[7]['image']['small_url']}}>
				<p>{{comic[7]['volume']['name']}}</p>
			</div>
		</div>
		<div class="comicBox">
			<div class="comic">
				<img src={{comic[8]['image']['small_url']}}>
				<p>{{comic[8]['volume']['name']}}</p>
			</div>
		</div>
		<div class="comicBox">
			<div class="comic">
				<img src={{comic[9]['image']['small_url']}}>
				<p>{{comic[9]['volume']['name']}}</p>
			</div>
		</div>
	</div>
	<div class="information">
		<p>Example text</p>
	</div>
</div>